<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/games.css">
    <script src="https://kit.fontawesome.com/44c17c6129.js" crossorigin="anonymous"></script>    
    <title>JUEGOS</title>
</head>
<body>

    <!--  HEADER -->

    <header>
        <div class="logo">
            <a href=""><img src="/images/logo.png" alt=""></a>
            <h2>PlanetaGamer</h2>
        </div>
        <nav>
            <a href="/views/index.html" class="nav-link">Inicio <i class="fa-sharp fa-solid fa-house"></i></a>
            <a href="#" class="nav-link">Juegos <i class="fa-sharp fa-solid fa-play"></i></a>
            <a href="/views/ingresar.html" class="nav-link">Mi cuenta <i class="fa-sharp fa-solid fa-user"></i></a>
        </nav>
    </header>

    <!-- JUEGOS -->
    
    <section class="cards-banner1" id="card1">
        <div class="content">
            <h2>MINECRAFT</h2>
            <p>Explora mundos infinitos y construye toda clase de cosas, desde la casa más simple hasta el castillo más grandioso. Juega en modo creativo con recursos ilimitados o extrae los materiales de las profundidades del mundo en el modo supervivencia, fabricando armas y armaduras para defenderte de las criaturas peligrosas. Crea, explora y sobrevive solo o con amigos</p>
            <a href="/views/games/minecraft.html" class="btn" target="_blank">Saber más >></a>
        </div>
    </section>
    
    <section class="cards-banner1" id="card2">
        <div class="content">
            <h2>THE SIMS</h2>
            <p>Los Sims 4 es el mejor juego de simulación de vida: crea personajes únicos, construye casas soñadas y deja que se desate el caos.</p>
            <a href="/views/games/thesims.html" class="btn"  target="_blank">Saber más >></a>
        </div>
    </section>
    
    <section class="cards-banner1" id="card3">
        <div class="content">
            <h2>CALL OF DUTY</h2>
            <p>Call of Duty es una serie de videojuegos de disparos en primera persona, de estilo bélico, desarrollada principal e inicialmente por Infinity Ward, Treyarch, Sledgehammer Games y en menor proporción Raven Software y distribuida por Activision.</p>
            <a href="/views/games/cod.html" class="btn" target="_blank">Saber más >></a>
        </div>
    </section>
    
    <section class="cards-banner1" id="card4">
        <div class="content">
            <h2>GTA</h2>
            <p>Los jugadores actuales pueden transferir su progreso del modo Individual de GTA V y sus personajes y progresos de GTA Online a PlayStation®5 y Xbox Series X|S mediante una transferencia única.</p>
            <a href="/views/games/gta.html" class="btn" target="_blank">Saber más >></a>
        </div>
    </section>
    
    <section class="cards-banner1" id="card5">
        <div class="content">
            <h2>FIFA</h2>
            <p>Comienza hoy tu aventura futbolística. Te esperan estrellas del futbol con más de 15,000 jugadores, incluidos talentos de clase mundial y más de 600 equipos. Colecciona jugadores y prueba a tus estrellas de futbol favoritas.</p>
            <a href="#" class="btn" target="_blank">Saber más >></a>
        </div>
    </section>
    
    <section class="cards-banner1" id="card6">
        <div class="content">
            <h2>RAINBOW 6</h2>
            <p>Videojuego de disparos táctico en línea desarrollado por Ubisoft Montreal y distribuidor por Ubisoft.</p>
            <a href="#" class="btn" target="_blank">Saber más >></a>
        </div>
    </section>

    

</body>
</html>