<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://kit.fontawesome.com/44c17c6129.js" crossorigin="anonymous"></script>
    <title>PlanetaGamer</title>
</head>

<body>

    <header>
        <nav>
            <div>
                <img src="/images/logo.png" class="logo" alt="">
            </div>
            <input type="checkbox" id="check">
            <label for="check" class="bar-btn">
                <i class="fa-solid fa-bars"></i>
            </label>
            <ul class="nav-menu">
                <li><a class="active" href="#">Inicio</a></li>
                <li><a href="#">Noticias</a></li>
                <li><a href="/views/games.html">Juegos</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="/views/ingresar.html">Mi cuenta</a></li>
            </ul>
        </nav>
        <div class="banner-text">
            <h2>PLANETAGAMER</h2>
            <h1>UN MUNDO DE <span>AVENTURAS</span></h1>
            <div>
                <a href="/views/games.html" class="button1">EXPLORAR</a>
                <a href="#" class="button2">JUEGOS</a>
            </div>
        </div>
    </header>

    <section class="section-cards">
        <div class="card">
            <div class="face front">
                <img src="/images/minecraft.webp" alt="">
                <h3>MINECRAFT</h3>
            </div>
            <div class="face back">
                <h3>MINECRAFT</h3>
                <p>Videojuego de construcción de tipo <span>mundo abierto</span> o sandbox creado originalmente por el sueco Markus Persson (Notch), y posteriormente desarrollado por Mojang Studios</p>
                <div class="link">
                    <a href="/views/games/minecraft.html">Details</a>
                </div>
            </div>
        </div>


        <div class="card">
            <div class="face front">
                <img src="/images/gta.jpg" alt="">
                <h3>GTA</h3>
            </div>
            <div class="face back">
                <h3>GTA</h3>
                <p>Videojuego de acción-aventura de mundo abierto desarrollado por el estudio Rockstar North y distribuido por Rockstar Games.</p>
                <div class="link">
                    <a href="#">Details</a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="face front">
                <img src="/images/call-of-duty.webp" alt="">
                <h3>CALL OF DUTY</h3>
            </div>
            <div class="face back">
                <h3>CALL OF DUTY</h3>
                <p>Call of Duty es una serie de videojuegos de disparos en primera persona, desarrollada principal por Infinity Ward, Treyarch, Sledgehammer Games y Raven Software y distribuida por Activision.</p>
                <div class="link">
                    <a href="#">Details</a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="face front">
                <img src="/images/sims4.webp" alt="">
                <h3>THE SIMS</h3>
            </div>
            <div class="face back">
                <h3>THE SIMS</h3>
                <p>Los Sims es una serie de videojuegos de simulación social, diseñados por Will Wright y desarrollados inicialmente por Maxis y posteriormente por diferentes sellos de Electronic Arts.</p>
                <div class="link">
                    <a href="/views/games/thesims.html">Details</a>
                </div>
            </div>
        </div>
    </section>

    <section class="cards-banner1">
        <div class="content">
            <h2>Lorem, ipsum dolor.</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid aperiam laudantium sint? Optio cupiditate eius alias dolore, pariatur a consequatur.</p>
            <a href="#" class="btn">Learn More >></a>
        </div>
    </section>

    <div class="footer-links">
        
        <div class="footer-container">
            
            <ul>

                <li>
                    <a href="#">
                        <h3>Title One</h3>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <h3>Blockchain</h3>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <h3>Blockchain</h3>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <h3>Blockchain</h3>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <h3>Blockchain</h3>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <h3>Blockchain</h3>
                    </a>
                </li>
                
            </ul>
            <ul>

                <li>
                    <a href="#">
                        <h3>Title One</h3>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <h3>Blockchain</h3>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <h3>Blockchain</h3>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <h3>Blockchain</h3>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <h3>Blockchain</h3>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <h3>Blockchain</h3>
                    </a>
                </li>
                
            </ul>
            <ul>

                <li>
                    <a href="#">
                        <h3>Title One</h3>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <h3>Blockchain</h3>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <h3>Blockchain</h3>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <h3>Blockchain</h3>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <h3>Blockchain</h3>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <h3>Blockchain</h3>
                    </a>
                </li>
                
            </ul>
            <ul>

                <li>
                    <a href="#">
                        <h3>Title One</h3>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <h3>Blockchain</h3>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <h3>Blockchain</h3>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <h3>Blockchain</h3>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <h3>Blockchain</h3>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <h3>Blockchain</h3>
                    </a>
                </li>
                
            </ul>
        
        </div>
    
    </div>

    <footer class="footer">
        <h3>Planeta Gamer Copyright</h3>
    </footer>

</body>
</html>