<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cod.css">
    <title>CallofDuty</title>
</head>
<body>
    
<!-- HEADER -->

<header>
    <a href="/views/index.html" target="_blank"><img src="/images/cod/cod-logo-white.svg" alt=""></a>
</header>

<div class="seccion1">
    <img src="/images/cod/16546329958064.jpg" alt="">
</div>

<!-- CARDS -->

<div class="container__cards">
    <div class="card">
        <div class="cover__card">
            <img src="/images/cod/9-27-hub-s5-5-announce-sm.jpg" alt="">
        </div>
        <h2>Call of Duty®</h2>
        <p>Ya ha llegado la última temporada de Call of Duty®: Vanguard y Warzone™! ¡Salta ya!</p>
        <hr>
        <div class="footer__card">
            <h3 class="user__name">noticias</h3>
            <i>Warzone™</i>
        </div>
    </div>

    <div class="card">
        <div class="cover__card">
            <img src="/images/cod/9-15-hub-wzm-tout.jpg" alt="">
        </div>
        <h2>Call of Duty®</h2>
        <p>¡Inscríbete y juega de los primeros! Preinscríbete a Call of Duty®: Warzone™ Mobile</p>
        <hr>
        <div class="footer__card">
            <h3 class="user__name">noticias</h3>
            <i>mobile</i>
        </div>
    </div>

    <div class="card">
        <div class="cover__card">
            <img src="/images/cod/8-23-hub-BP-small-tout.jpg" alt="">
        </div>
        <h2>Call of Duty®</h2>
        <p>Accede a los 100 niveles de contenido del Pase de batalla</p>
        <hr>
        <div class="footer__card">
            <h3 class="user__name">noticias</h3>
            <i>Warzone™</i>
        </div>
    </div>

    <div class="card">
        <div class="cover__card">
            <img src="/images/cod/10-5-hub-codm-s9-sm-tout.jpg" alt="">
        </div>
        <h2>Call of Duty®</h2>
        <p>Los no muertos han salido a jugar en el retorno de Zombis en la Temporada 9 de Call of Duty®: Mobile.</p>
        <hr>
        <div class="footer__card">
            <h3 class="user__name">noticias</h3>
            <i>mobile</i>
        </div>
    </div>
</div>

<section class="cards-banner1">
    <div class="content">
        <img src="/images/cod/cod-mw2-logo.png" alt="">
        <h1>CONTEMPLA EL REGRESO DE LOS ICÓNICOS OPERADORES DE LA FUERZA OPERATIVA 141 EN LA CAMPAÑA DE MODERN WARFARE® II.</h1>
    </div>
</section>

</body>
</html>