<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/gta.css">
    <title>GTA</title>
</head>
<body>
    
    <!-- HEADER -->

    <header>
        <a href="/views/index.html" target="_blank"><img src="/images/gta/logo-gta.svg" alt=""></a>
    </header>

    <!-- SECCION 1 -->

    <section class="home" id="home">

        <div class="content">
            
        </div>

    </section>

</body>
</html>