<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/minecraft.css">
    <script src="https://kit.fontawesome.com/44c17c6129.js" crossorigin="anonymous"></script>
    <title>MINECRAFT</title>
</head>
<body>

    <!-- HEADER -->

    <header>
            <a href="/views/index.html" target="_blank"><img src="/images/logo-minecraft.svg" alt=""></a>
    </header>

    <!-- SECCION NOVEDADES -->

    <section class="info-minecraft">
        <div class="container-novedades">
            <div class="novedades">
                <h1>¡ULTIMAS NOVEDADES!</h1>
                <h2>Minecraft presenta su parche 1.20 con camellos para dos jugadores, bambú para hacer balsas.</h2>
                <div style="text-align: center;"><img src="/images/minecraft/noved-mine.jpg"></div>
                <p>Durante el Minecraft Live 2022 del pasado fin de semana, Mojang compartió algunos detalles más sobre la esperada actualización 1.20 del juego, una de las más grandes de su historia reciente. La compañía desveló desde su fecha de salida estimada (primavera de 2023) hasta parte de sus contenidos, entre los que se incluyen siete nuevas skins para nuestro personaje inicial (hasta ahora y por defecto siempre éramos el icónico Steve), un nuevo material de construcción (bambú, con el que podremos fabricar balsas) y carteles colgantes, entre otras muchas cosas.
                    <br>
                    <br>
                    Sin embargo, para Mojang la adición estrella son los camellos. La desarrolladora cree que no tardarán en convertirse en las estrellas del juego, pues pueden ser montados por dos jugadores a la vez y, a diferencia de los caballos, por ejemplo, pueden correr por encima de los ríos sin necesidad de saltar. Comerán cactus, aparecerán en biomas desérticos y serán el animal más rápido de Minecraft en campo abierto, aunque olvidaros de cargar nada en ellos porque no tendrán inventario alguno.
                    <br>
                    <br>
                    Podéis consultar todas las novedades en el siguiente vídeo (el segmento sobre la actualización 1.20 de Minecraft comienza a partir de la hora y 24 minutos):
                </p>
                <div style="text-align: center;"><iframe src="https://www.youtube.com/embed/iM9KtHaDcUg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
            </div>
        </div>
    </section>

    <!-- INFORMACION SOBRE MOBS Y CARUSEL -->

    <section class="criaturas">
        <div class="container2">
            <h2>CRIATURAS</h2>
            <p>Una criatura (mob en inglés) es una entidad viviente en el juego. Todas las criaturas pueden ser atacadas y heridas (por caer, ser atacadas por un jugador u otra criatura, caer al vacío, etc.) y algunas de ellas pueden ahogarse o quemarse. Los diferentes tipos de criaturas a menudo tienen una IA y un botín único.</p>
        </div>
    </section>

    <div class="container-slider">
        <div class="slider" id="slider">
            <div class="slider__section"><img src="/images/minecraft/mobs-carusel.webp" alt="" class="slider__img"></div>
            <div class="slider__section"><img src="/images/minecraft/mobs2-carousel.webp" alt="" class="slider__img"></div>
            <div class="slider__section"><img src="/images/minecraft/mobs3-carousel.webp" alt="" class="slider__img"></div>
            <div class="slider__section"><img src="/images/minecraft/mobs-carousel.webp" alt="" class="slider__img"></div>
        </div>
        <div class="slider__btn slider__btn--right" id="btn-right">&#62;</div>
        <div class="slider__btn slider__btn--left" id="btn-left">&#60;</div>
    </div>

    <!-- CARDS STEVE, ALEX Y HEROBRINE -->

    <div class="titulo-skins">
        <h1>STEVE | ALEX | HEROBRINE</h1>
        <p>Steve y Alex, skins predeterminados de minecraft, Steve versión masculina y Alex verción femenina.
           Herobrine, el ser más aterrador del mundo de minecraft.
        </p>
    </div>
    
    <div class="background">
        <div class="card-container">
            
            <div class="card">
                <div class="card-image">
                    <img src="/images/minecraft/Steve_29_JE5.webp" alt="Steve">
                </div>
                <div class="card-text">
                    <span class="date date-1"></span>
                    <h2>Steve</h2>
                    <p>Capacidades fisicas sobrehumanas</p>
                </div>
                <div class="card-stats card-1">
                    <div class="stat">
                        <div class="value">4m</div>
                        <div class="tyoe">read</div>
                    </div>

                    <div class="stat">
                        <div class="value">5123</div>
                        <div class="type">views</div>
                    </div>

                    <div class="stat">
                        <div class="value">32</div>
                        <div class="type">Comments</div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-image">
                    <img src="/images/minecraft/Alex_29_JE2.webp" alt="Steve">
                </div>
                <div class="card-text">
                    <span class="date date-2"></span>
                    <h2>Alex</h2>
                    <p>Capacidades fisicas sobrehumanas</p>
                </div>
                <div class="card-stats card-2">
                    <div class="stat">
                        <div class="value">4m</div>
                        <div class="tyoe">read</div>
                    </div>

                    <div class="stat">
                        <div class="value">5123</div>
                        <div class="type">views</div>
                    </div>

                    <div class="stat">
                        <div class="value">32</div>
                        <div class="type">Comments</div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-image">
                    <img src="/images/minecraft/Herobrine (1).webp" alt="Steve">
                </div>
                <div class="card-text">
                    <span class="date date-3"></span>
                    <h2>Herobrine</h2>
                    <p>Entidad desconocida que aparece para aterrorizar</p>
                </div>
                <div class="card-stats card-3">
                    <div class="stat">
                        <div class="value">4m</div>
                        <div class="tyoe">read</div>
                    </div>

                    <div class="stat">
                        <div class="value">5123</div>
                        <div class="type">views</div>
                    </div>

                    <div class="stat">
                        <div class="value">32</div>
                        <div class="type">Comments</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

   

    <script src="/js/minecraft.js"></script>

</body>
</html>