<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/thesims.css">
    <title>THE SIMS</title>
</head>
<body>
    
    <header>
        <div class="logo">
            <img src="/images/thesims/thesims-logo.svg" alt="">
        </div>
    </header>

    <section class="info-sims">
        <div class="container-novedades">
            <div class="novedades">
                <h1>¡ULTIMAS NOVEDADES!</h1>
                <h2>Los sims 4 estan gratis, para que puedas crear tu mundo y contruir una nueva historia.</h2>
                <div style="text-align: center;"><img src="/images/sims4.webp"></div>
                <p>OLVIDA LOS LÍMITES. EXPRÉSATE CON LIBERTAD. Explora los últimos y mejores mundos, experiencias e historias.</p>
                <div style="text-align: center;"><iframe width="560" height="315" src="https://www.youtube.com/embed/5LaIogTLPYA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
            </div>
        </div>
    </section>

    <div class="section2">
        <div class="contenido-section2">
            <p>¡ULTIMAS EXPANSIONES SIMS 4!</p>
            <div class="btn-sims4"><a href="https://www.ea.com/es/games/the-sims/the-sims-4/download" target="_blank">DESCUBRE LOS SIMS 4</a></div>
        </div>
    </div>

    <section class="section-cards">
        <div class="card">
            <div class="face front">
                <img src="/images/thesims/expansiones/los-sims-4-stay-up-pc-mac-juego-origin-cover.jpg" alt="">
                <h3>PROXIMAMENTE</h3>
            </div>
            <div class="face back">
                <h3>Los Sims 4 Stay Up</h3>
                <p>Fecha de lanzamiento: 2022</p>
                <div class="link">
                    <a href="#">Details</a>
                </div>
            </div>
        </div>


        <div class="card">
            <div class="face front">
                <img src="/images/thesims/expansiones/los-sims-4-anos-high-school-pc-mac-juego-origin-cover.jpg" alt="">
                <h3>Los Sims 4 Años High School</h3>
            </div>
            <div class="face back">
                <h3>Los Sims 4 Años High School</h3>
                <p>Los Sims 4 Años High School Pack de Expansión para PC es el duodécimo pack de expansión para el juego de Los Sims 4, y una especie de sorpresa dado que Los Sims 5 está en camino y no tardará en salir al mercado.</p>
                <div class="link">
                    <a href="#">Details</a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="face front">
                <img src="/images/thesims/expansiones/los-sims-4-escapada-en-la-nieve-pc-mac-juego-origin-cover.jpg" alt="">
                <h3>Los Sims 4 Escapada en la Nieve</h3>
            </div>
            <div class="face back">
                <h3>Los Sims 4 Escapada en la Nieve</h3>
                <p>Deportes, aguas termales, diseña tu casa de inspiración japonesa. Desafío de subir hasta la cima y relacionarte en el mundo del monte. Monta en trineo, haz snowboard, come cazuela en torno al kotatsu.</p>
            </div>
        </div>

        <div class="card">
            <div class="face front">
                <img src="/images/thesims/expansiones/los-sims-4-vida-islena-pc-mac-juego-origin-cover.jpg" alt="">
                <h3>Los Sims 4 Vida Isleña</h3>
            </div>
            <div class="face back">
                <h3>Los Sims 4 Vida Isleña</h3>
                <p>Vida Isleña, este paquete de expansión lleva a los Sims a una isla tropical para tomar el sol, disfrutar del mar y seguir viviendo sus vidas de la mejor manera posible.</p>
                <div class="link">
                    <a href="/views/games/thesims.html">Details</a>
                </div>
            </div>
        </div>
    </section>

    <section class="cards-banner1">
        <div class="content">
            <h2>Lorem, ipsum dolor.</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid aperiam laudantium sint? Optio cupiditate eius alias dolore, pariatur a consequatur.</p>
        </div>
    </section>

</body>
</html>